# Ignore everything
/*

# Whitelist Git files
!.gitignore
!readme.md

# Whitelist starter theme files in theme root directory
!package.json
!gruntfile.js
!functions.php
!header.php
!index.php
!footer.php

# Whitelist starter theme folders and files
!/css
!/js
