# Ignore everything
/*

# Whitelist Git files
!.gitignore
!readme.md

# Whitelist starter theme folders
!/wp-content
/wp-content/*
!wp-content/themes
/wp-content/themes/*
!wp-content/themes/encodeon-starter-theme
